<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServicesCoreSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServicesCoreSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://coreweb20191008093502.azurewebsites.net/WebServicesCore.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServicesCoreSoap"
                contract="CoreServices.WebServicesCoreSoap" name="WebServicesCoreSoap" />
        </client>
    </system.serviceModel>
</configuration>