body {
	margin: 0;
	padding: 0;
	background-image: url(Imagery/program_business-administration.jpg);
	background-size: cover;
	height: 1400px;
	background-position: center;
	background-repeat: no-repeat;
}

.jumbotron {
	padding: 2rem 1rem;
	margin-bottom: 2rem;
	background-color: #e9ecef;
	border-radius: 0.3rem;
}

.loginbox {
	padding: 1rem 1rem;
	background-color: #e9ecef;
	border-radius: 0.3rem;
	width: 500px;
	height: 1000px;
	top: 70%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
}
